* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(20, 20, 20);
}

.container {
  height: 100vh;
}

/* CAM SECTION */
.cam-section {
  padding: 80px 60px 120px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 10px;
}

.cam {
  position: relative;
  width: calc(100% / 8 - 10px);
  height: 140px;

  /* debug */
  /* background-color: aqua; */
}

.cam img {
  width: 100%;
  height: 100%;
}

.user-cam-name {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: rgba(109, 109, 109, 0.877);
  padding: 5px;
}

.mic-mute-icon {
  margin-right: 2px;
}

/* BUTTON SECTION */
.btn-section {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
  height: 80px;
  width: 100%;
}
